body {
  margin:0;
  font-family:Segoe UI;
  background:#070b14;
  color:white;
}

/* NAV */
.nav {
  display:flex;
  justify-content:space-between;
  padding:18px 50px;
  background:rgba(15,23,42,0.8);
  backdrop-filter: blur(10px);
  position:sticky;
  top:0;
}

.logo {
  font-size:22px;
  font-weight:bold;
}

.logo span {
  color:#38bdf8;
}

nav a {
  color:#cbd5e1;
  margin-left:20px;
  text-decoration:none;
}

nav a:hover {
  color:#38bdf8;
}

/* HERO */
.hero {
  text-align:center;
  padding:120px 20px;
}

.badge {
  display:inline-block;
  padding:6px 12px;
  background:#0f172a;
  border:1px solid #1e293b;
  border-radius:20px;
  font-size:12px;
  color:#38bdf8;
}

.hero h1 {
  font-size:52px;
  margin-top:20px;
}

.hero p {
  color:#94a3b8;
  margin-top:10px;
}

.buttons {
  margin-top:25px;
}

button {
  padding:12px 20px;
  margin:5px;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

.primary {
  background:#38bdf8;
  color:black;
}

.ghost {
  background:transparent;
  border:1px solid #38bdf8;
  color:#38bdf8;
}

/* STATS */
.stats {
  display:flex;
  justify-content:center;
  gap:50px;
  padding:60px;
  background:#0f172a;
}

.stat h2 {
  color:#38bdf8;
}

/* SERVICES */
.section {
  text-align:center;
  padding:80px 20px;
}

.grid {
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:30px;
}

.card {
  background:#0f172a;
  padding:25px;
  width:220px;
  border-radius:14px;
  border:1px solid #1e293b;
  transition:0.3s;
}

.card:hover {
  transform:translateY(-8px);
  border-color:#38bdf8;
}

.card i {
  font-size:20px;
  color:#38bdf8;
}

/* VALUE */
.value {
  padding:80px 20px;
  text-align:center;
  background:#0f172a;
}

.value-box {
  max-width:700px;
  margin:auto;
  color:#94a3b8;
}

/* CONTACT */
.contact {
  text-align:center;
  padding:80px 20px;
}

form {
  width:320px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

input,textarea {
  margin:8px 0;
  padding:10px;
  background:#0f172a;
  border:1px solid #1e293b;
  color:white;
}

footer {
  text-align:center;
  padding:20px;
  color:#64748b;
}