body {
  margin: 0;
  font-family: Arial;
  background: #0a0f1c;
  color: white;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: #0f172a;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: #38bdf8;
}

nav a {
  color: #cbd5e1;
  margin-left: 18px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  color: #94a3b8;
}

/* BUTTON */
button {
  padding: 12px 20px;
  background: #38bdf8;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.dark {
  background: #111827;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  background: #0f172a;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #1e293b;
  width: 200px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 8px 0;
  padding: 10px;
  background: #0f172a;
  border: none;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #64748b;
}